@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mdp-demo">
    @* <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

@section Scripts {
    <script>
        var today = new Date();
        var y = today.getFullYear();
        $(document).ready(function(){
            $('#mdp-demo').multiDatesPicker({
                addDates: ["10/14/" + y, "02/19/" + y, "01/14/" + y, "11/16/" + y],
                numberOfMonths: [3, 4],
                defaultDate: "1/1/" + y
            });
        });
    </script>
}
